<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operacja zakończona</title>

    <meta charset="UTF-8">
    <title>Reksio i Klakier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
        body {margin: 2em 2em auto 2em; max-width: 50em;}
        .header {background-color: lightgrey; padding: 1em;}
        .black-url {color: black; text-decoration: none}
        li {margin-bottom: 1em;}
        a {margin-right: 1em;}
        ul#menu li {display:inline; margin-left: 2em;}
    </style>

</head>
<body>

<a class="black-url" href="/">
    <h1 class="header">Schronisko Reksio i Klakier</h1></a>

<h3>Operacja zakończona sukcesem!</h3>

<p>No może nie zawsze...</p>

<a href="/">Powrót do strony głównej</a>

</body>
</html>